@import "primereact/resources/themes/lara-light-indigo/theme.css"; 
@import "primereact/resources/primereact.min.css";                  
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';
/* #700000 */

.hidden {
    display: none;
}

.clientDetailsCard .p-card-title {
    color: rgb(84, 84, 84);
}

.border-ared {
    border-color: rgb(197, 2, 2);
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}